In [1]:
# 1. Write a Python program to create a tuple
# Sample Output
# Tuple = ()


my_tuple = ()


print("Tuple =", my_tuple)

Tuple = ()

In [2]:
# 2. Write a Python program to create a tuple with different data types
# Sample Output
# ('Tutor Joes', True, 'T', 3.21, 10)


my_tuple = ('Tutor Joes', True, 'T', 3.21, 10)


print(my_tuple)

('Tutor Joes', True, 'T', 3.21, 10)

In [3]:
# 3. Write a Python program to create a tuple with numbers and print one item
# Sample Output
# 10
# Type = tuple


num_tuple = (10, 20, 30, 40, 50)


item = num_tuple[0]


print(item)
print("Type =", type((item,)))

10
Type = <class 'tuple'>

In [4]:
# 4. Write a Python program to unpack a tuple in several variables
# Sample Output
# a = 4, 8, 3
# (4, 8, 3)

# Creating a tuple
my_tuple = (4, 8, 3)


a, b, c = my_tuple


print("a =", a, b, c)
print(my_tuple)

a = 4 8 3
(4, 8, 3)

In [5]:
# 5. Write a Python program to add an item in a tuple
# Sample Output
# (10, 40, 50, 70, 90)
# add items in list = 20
# (10, 40, 50, 70, 90, 20)


my_tuple = (10, 40, 50, 70, 90)


print(my_tuple)


new_item = 20
print("add items in list =", new_item)


my_tuple = my_tuple + (new_item,)

print(my_tuple)

(10, 40, 50, 70, 90)
add items in list = 20
(10, 40, 50, 70, 90, 20)

In [6]:
# 6. Write a Python program to convert a tuple to a string
# Sample Output
# ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
# Tutor Joes


char_tuple = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')


string_result = ''.join(char_tuple)


print(char_tuple)
print(string_result)

('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
Tutor Joes

In [7]:
# 7. Write a Python program to get the 4th element and 4th element from last of a tuple
# Sample Output
# ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
# 4th Elements From Tuple : e
# 4th Elements From Last Tuple : u



my_tuple = ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')


fourth_element = my_tuple[3]
fourth_from_last = my_tuple[-4]


print(my_tuple)
print("4th Element From Tuple:", fourth_element)
print("4th Element From Last Tuple:", fourth_from_last)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
4th Element From Tuple: e
4th Element From Last Tuple: u

In [9]:
# 8. Write a Python program to create the colon of a tuple
# Sample Output
# ("Tutor", 'J', 23 , 56.67 , [23,12] , True)
# Copy = ('Tutor', 'J', 23, 56.67, [23, 12], True)


original_tuple = ("Tutor", 'J', 23, 56.67, [23, 12], True)


copy_tuple = original_tuple  


print(original_tuple)
print("Copy =", copy_tuple)

('Tutor', 'J', 23, 56.67, [23, 12], True)
Copy = ('Tutor', 'J', 23, 56.67, [23, 12], True)

In [10]:
# 9. Write a Python program to find the repeated items of a tuple
# Sample Output
# (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
# item = 2
# Repeated items of a tuple = 3


my_tuple = (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)


item = 2


count = my_tuple.count(item)


print(my_tuple)
print("item =", item)
print("Repeated items of a tuple =", count)

(2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
item = 2
Repeated items of a tuple = 3

In [11]:
# 10. Write a Python program to check whether an element exists within a tuple
# Sample Output
# ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8)
# 8 in Tuple = True
# 'x' in Tuple = False


my_tuple = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's', 8)

item1 = 8
item2 = 'x'

print(my_tuple)
print(f"{item1} in Tuple =", item1 in my_tuple)
print(f"'{item2}' in Tuple =", item2 in my_tuple)

('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's', 8)
8 in Tuple = True
'x' in Tuple = False

In [12]:
# 11. Write a Python program to convert a list to a tuple
# Sample Output
# [12, 45, 87, 54, 89, 4]
# (12, 45, 87, 54, 89, 4)


my_list = [12, 45, 87, 54, 89, 4]

my_tuple = tuple(my_list)

print(my_list)
print(my_tuple)

[12, 45, 87, 54, 89, 4]
(12, 45, 87, 54, 89, 4)

In [13]:
# 12. Write a Python program to remove an item from a tuple
# Sample Output
# (23, 45, 56, 68, 10, 45, 7, 9)
# Remove = 56
# (23, 45, 68, 10, 45, 7, 9)



my_tuple = (23, 45, 56, 68, 10, 45, 7, 9)


remove_item = 56

temp_list = list(my_tuple)
temp_list.remove(remove_item)  
my_tuple = tuple(temp_list)

print((23, 45, 56, 68, 10, 45, 7, 9)) 
print("Remove =", remove_item)
print(my_tuple)

(23, 45, 56, 68, 10, 45, 7, 9)
Remove = 56
(23, 45, 68, 10, 45, 7, 9)

In [14]:
# 13. Write a Python program to slice a tuple
# Sample Output
# (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
# (40, 50, 60, 70, 80)



my_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

sliced_tuple = my_tuple[3:8]


print(my_tuple)
print(sliced_tuple)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(40, 50, 60, 70, 80)

In [15]:
# 14. Write a Python program to find the index of an item of a tuple
# Sample Output
# (23, 45, 67, 78, 89, 90, 34, 56)
# Item = 78
# Index Number : 3



my_tuple = (23, 45, 67, 78, 89, 90, 34, 56)


item = 78


index_number = my_tuple.index(item)


print(my_tuple)
print("Item =", item)
print("Index Number:", index_number)

(23, 45, 67, 78, 89, 90, 34, 56)
Item = 78
Index Number: 3

In [16]:
# 15. Write a Python program to find the length of a tuple
# Sample Output
# ("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")
# Length : 6


my_tuple = ("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")


length = len(my_tuple)


print(my_tuple)
print("Length:", length)

('Lion', 'Cat', 'Dog', 'Panda', 'Tiger', 'Fox')
Length: 6

In [17]:
# 16. Write a Python program to convert a tuple to a dictionary
# Sample Output
# ( ("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422) )
# { 'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422 }


my_tuple = (("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422))

my_dict = dict(my_tuple)


print(my_tuple)
print(my_dict)

(('Name', 'Ram'), ('Age', 23), ('City', 'Salem'), ('Mark', 422))
{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

In [18]:
# 17. Write a Python program to unzip a list of tuples into individual lists
# Sample Output
# [ (10,30), (60,90), (20,50) ]
# [ (10, 60, 20), (30, 90, 50) ]


my_list = [(10, 30), (60, 90), (20, 50)]

unzipped_lists = list(map(list, zip(*my_list)))


print(my_list)
print(unzipped_lists)

[(10, 30), (60, 90), (20, 50)]
[[10, 60, 20], [30, 90, 50]]

In [19]:
# 18. Write a Python program to reverse a tuple
# Sample Output
# Before Reverse : ( 23, 45, 67, 78, 89, 90, 34, 56 )
# After Reverse : ( 56, 34, 90, 89, 78, 67, 45, 23 )



my_tuple = (23, 45, 67, 78, 89, 90, 34, 56)


reversed_tuple = my_tuple[::-1]


print("Before Reverse:", my_tuple)
print("After Reverse:", reversed_tuple)

Before Reverse: (23, 45, 67, 78, 89, 90, 34, 56)
After Reverse: (56, 34, 90, 89, 78, 67, 45, 23)

In [22]:
# 19. Write a Python program to convert a list of tuples into a dictionary
# Sample Output
# [ ("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", 
# "Female") ]
# { 'Name' : ['Ram', 'Pooja'], 'Age' : [21, 23], 'Gender' : ['Male', 'Female'] }

from collections import defaultdict


my_list = [
    ("Name", "Ram"), ("Name", "Pooja"), 
    ("Age", 21), ("Gender", "Male"),
    ("Age", 23), ("Gender", "Female")
]
my_dict = defaultdict(list)


for key, value in my_list:
    my_dict[key].append(value)

final_dict = dict(my_dict)

print(my_list)
print(final_dict)

[('Name', 'Ram'), ('Name', 'Pooja'), ('Age', 21), ('Gender', 'Male'), ('Age', 23), ('Gender', 'Female')]
{'Name': ['Ram', 'Pooja'], 'Age': [21, 23], 'Gender': ['Male', 'Female']}

In [23]:
# 20. Write a Python program to print a tuple with string formatting
# Sample Output
# ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", 
# "pears")
# Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 
# 'pears')



fruits = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")


print("Fruits", fruits)

Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

In [24]:
# 21. Create a tuple with single item 23
# Sample Output
# Create a tuple with Item = 23
# Type = tuple



single_item_tuple = (23,)


print("Create a tuple with Item =", single_item_tuple[0])
print("Type =", type(single_item_tuple))

Create a tuple with Item = 23
Type = <class 'tuple'>

In [25]:
# 22. Unpack the tuple into 5 variables
# Sample Output
# Tuple = (11, 22, 333, 44, 55)
# 11
# 22
# 33
# 44
# 55



my_tuple = (11, 22, 333, 44, 55)


a, b, c, d, e = my_tuple


print("Tuple =", my_tuple)
print(a)
print(b)
print(c)
print(d)
print(e)

Tuple = (11, 22, 333, 44, 55)
11
22
333
44
55

In [26]:
# 23. Swap two tuples in Python
# Sample Output
# Before Swap A : 10
# Before Swap B : 20
# After Swap A : 20
# After Swap B : 10




A = (10,)
B = (20,)


print("Before Swap A:", A[0])
print("Before Swap B:", B[0])

A, B = B, A

print("After Swap A:", A[0])
print("After Swap B:", B[0])

Before Swap A: 10
Before Swap B: 20
After Swap A: 20
After Swap B: 10

In [27]:
# 24. Copy specific elements from one tuple to a new tuple
# Sample Output
# (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
# (30, 40, 50, 60, 70, 80)



original_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)


new_tuple = original_tuple[2:8]


print(original_tuple)
print(new_tuple)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(30, 40, 50, 60, 70, 80)

In [29]:
# 25. Modify the tuple
# Sample Output
# ( 10, 20, 30, 40, 50 )
# ( 10, 20, 33, 40, 50 )


my_tuple = (10, 20, 30, 40, 50)


temp_list = list(my_tuple)
temp_list[2] = 33  # Changing the 3rd element (index 2)


modified_tuple = tuple(temp_list)

print(my_tuple)
print(modified_tuple)

(10, 20, 30, 40, 50)
(10, 20, 33, 40, 50)

In [30]:
# 26. Sort a tuple of tuples by 2nd item
# Sample Output
# ( ('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18) )
# ( ('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53) )



tuple_data = (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))

sorted_tuple = tuple(sorted(tuple_data, key=lambda x: x[1]))

print(tuple_data)
print(sorted_tuple)

(('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
(('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))

In [31]:
# 27. Counts the number of occurrences of item 30 from a tuple
# Sample Output
# (30, 50, 10, 30, 70, 50, 30)
# Number of Counts 30 : 3



my_tuple = (30, 50, 10, 30, 70, 50, 30)

count_30 = my_tuple.count(30)

print(my_tuple)
print("Number of Counts 30 :", count_30)

(30, 50, 10, 30, 70, 50, 30)
Number of Counts 30 : 3

In [32]:
# 28. Write a Python program to compute element-wise sum of given tuples
# Sample Output
# A = (2, 5, 8)
# B = (6, 5, 1)
# C = (1, 4, 7)
# D = (3, 7, 2)
# Sum of Elements = (12, 21, 18)


A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)


sum_tuple = tuple(sum(values) for values in zip(A, B, C, D))


print("A =", A)
print("B =", B)
print("C =", C)
print("D =", D)
print("Sum of Elements =", sum_tuple)

A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)
Sum of Elements = (12, 21, 18)

In [33]:
# 29. Write a Python program to sort a tuple by its float element
# Sample Output
# [ ('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ]
# [ ('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43') ]


data = [('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40')]

sorted_data = sorted(data, key=lambda x: float(x[1]), reverse=True)

print("Before Sorting:", data)
print("After Sorting:", sorted_data)

Before Sorting: [('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40')]
After Sorting: [('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43')]

In [34]:
# 30. Write a Python program to replace last value of tuples in a list
# Sample Output
# [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
# Replace value = 10
# [(5, 2, 10),(4, 7, 10),(8, 9, 10)]

data = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]

replace_value = 10

updated_data = [t[:-1] + (replace_value,) for t in data]

print("Before Replacement:", data)
print("After Replacement:", updated_data)

Before Replacement: [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
After Replacement: [(5, 2, 10), (4, 7, 10), (8, 9, 10)]

In [35]:
# 31. Write a Python program to Extract tuples having K digit elements
# Sample Output
# [ (47, 23), (3, 78), (22, 53), (121, 45), (7,) ]
# K = 2
# [ (47, 23), (22, 53) ]



data = [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]

K = 2

filtered_data = [t for t in data if all(10**(K-1) <= num < 10**K for num in t)]

print("Original List:", data)
print(f"Tuples with {K}-digit elements:", filtered_data)

Original List: [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]
Tuples with 2-digit elements: [(47, 23), (22, 53)]

In [36]:
# 32. Write a Python program to Extract Symmetric Tuples
# Sample Output
# [ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ]
# { (2, 9), (18, 23) }



data = [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]

symmetric_tuples = {tuple(sorted(t)) for t in data if tuple(reversed(t)) in data}

print("Original List:", data)
print("Symmetric Tuples:", symmetric_tuples)

Original List: [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
Symmetric Tuples: {(2, 9), (18, 23)}

In [37]:
# 33. Write a Python program to Sort Tuples by their Maximum element
# Sample Output
# [ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ]
# [ (19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2) ]



data = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]


sorted_tuples = sorted(data, key=max, reverse=True)


print("Original List:", data)
print("Sorted List:", sorted_tuples)

Original List: [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]
Sorted List: [(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

In [38]:
# 34. Write a Python program to Remove nested records from tuple
# Sample Output
# (10, 20, (30,), 40, (50, 60), 70)
# Removal of Nested Tuple : (10, 20, 40, 70)


data = (10, 20, (30,), 40, (50, 60), 70)

filtered_tuple = tuple(item for item in data if not isinstance(item, tuple))

print("Original Tuple:", data)
print("Removal of Nested Tuple:", filtered_tuple)

Original Tuple: (10, 20, (30,), 40, (50, 60), 70)
Removal of Nested Tuple: (10, 20, 40, 70)

In [39]:
# 35. Write a Python program to Elements Frequency in Mixed Nested Tuple
# Sample Output
# (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)
# Elements Frequency : {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}


from collections import Counter


data = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)

flat_list = []
for item in data:
    if isinstance(item, tuple):  # If item is a tuple, unpack its elements
        flat_list.extend(item)
    else:
        flat_list.append(item)

frequency = Counter(flat_list)

print("Original Tuple:", data)
print("Elements Frequency:", dict(frequency))

Original Tuple: (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)
Elements Frequency: {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}

In [40]:
# 36. Write a Python program to get unique elements in nested tuple
# Sample Output
# [ (1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,) ]
# Unique Element in Nested Tuples : [1, 3, 5, 4, 7, 2, 6, 10, 9]


data = [(1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,)]  
unique_elements = sorted(set(sum(data, ())))  
print(unique_elements)

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [41]:
# 37. Write a Python program to Concatenate tuples to nested tuples
# Sample Output
# Tuple 1 : ((18, 23, 2, 9),)
# Tuple 2 : ((10, 3, 11),)
# Tuples after Concatenating : ((18, 23, 2, 9), (10, 3, 11))

tuple1 = ((18, 23, 2, 9),)
tuple2 = ((10, 3, 11),)

result = tuple1 + tuple2
print("Tuples after Concatenating:", result)

Tuples after Concatenating: ((18, 23, 2, 9), (10, 3, 11))

In [42]:
# 38. Write a Python program to Sort by Frequency of second element in Tuple List
# Sample Output
# [ (2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8) ]
# Sorted List of tuples : [ (2, 7), (3, 7), (8, 7), (2, 5), (6, 5), (9, 8) ]


from collections import Counter


data = [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]


freq = Counter(y for _, y in data)

sorted_data = sorted(data, key=lambda x: freq[x[1]], reverse=True)

print("Sorted List of tuples:", sorted_data)

Sorted List of tuples: [(2, 7), (3, 7), (8, 7), (2, 5), (6, 5), (9, 8)]

In [43]:
# 39. Write a Python program to Sort lists in tuple
# Sample Output
# ( [10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) )
# Tuple after sorting list : ( [10, 50, 60], [20, 30, 80], [40, 70, 100], [90] )



data = ([10, 50, 60], [80, 20, 30], [70, 100, 40], (90,))


sorted_data = tuple(sorted(lst) if isinstance(lst, list) else lst for lst in data)

print("Tuple after sorting list:", sorted_data)

Tuple after sorting list: ([10, 50, 60], [20, 30, 80], [40, 70, 100], (90,))

In [44]:
# 40. Write a Python program to Order Tuples using external List
# Sample Output
# [ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]
# Ordered Tuple List : [ ('A', 67), ('B', 68), ('C', 69), ('D', 70) ]


tuple_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]

order = ['A', 'B', 'C', 'D']

ordered_tuples = sorted(tuple_list, key=lambda x: order.index(x[0]))

print("Ordered Tuple List:", ordered_tuples)

Ordered Tuple List: [('A', 67), ('B', 68), ('C', 69), ('D', 70)]

In [45]:
# 41. Write a Python program to Filter Tuples by Kth element from List
# Sample Output
# [ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]
# List of kth elements to filter = [67 , 70 , 71, 75]
# Kth element index = 1
# Filtered tuples : [('D', 70), ('A', 67)]




tuple_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]

filter_list = [67, 70, 71, 75]

k = 1

filtered_tuples = [tup for tup in tuple_list if tup[k] in filter_list]

print("Filtered tuples:", filtered_tuples)

Filtered tuples: [('D', 70), ('A', 67)]

In [46]:
# 42. Write a Python program to Closest Pair to Kth index element in Tuple
# Sample Output
# [ (23, 18), (9, 2), (2, 3), (9, 18), (23, 2) ]
# Given Tuple = (20, 2)
# Kth Element Index = 1
# Nearest Tuple : (23, 18)



tuple_list = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]

given_tuple = (20, 2)

k = 1

nearest_tuple = min(tuple_list, key=lambda x: abs(x[k] - given_tuple[k]))

print("Nearest Tuple:", nearest_tuple)

Nearest Tuple: (9, 2)

In [47]:
# 43. Write a Python program to Tuple List intersection (Order irrespective)
# Sample Output
# List 1 : [ (3, 4), (5, 6), (9, 10), (4, 5) ]
# List 2 : [ (5, 4), (3, 4), (6, 5), (9, 11) ]
# Intersection : { (4, 5), (5, 6), (3, 4) }


list1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
list2 = [(5, 4), (3, 4), (6, 5), (9, 11)]

set1 = {tuple(sorted(t)) for t in list1}
set2 = {tuple(sorted(t)) for t in list2}

intersection = set1 & set2


print("Intersection:", intersection)

Intersection: {(4, 5), (5, 6), (3, 4)}

In [49]:
# 44. Write a Python program to Intersection in Tuple Records Data
# Sample Output
# list 1 : [ ('A', 65), ('D', 68), ('B', 66) ]
# list 2 : [ ('D', 68), ('C', 67), ('A', 65) ]
# Intersection of data records : [ ('A', 65), ('D', 68) ]



list1 = [('A', 65), ('D', 68), ('B', 66)]
list2 = [('D', 68), ('C', 67), ('A', 65)]


intersection = list(set(list1) & set(list2))


print("Intersection of data records:", intersection)

Intersection of data records: [('A', 65), ('D', 68)]

In [50]:
# 45. Write a Python program to Unique Tuple Frequency (Order Irrespective)
# Sample Output
# [ (3, 4), (1, 2), (4, 3), (5, 6) ]
# Unique tuples Frequency : [(1, 2), (3, 4), (5, 6)]
# Unique tuples Frequency Count : 3

from collections import Counter



tuples_list = [(3, 4), (1, 2), (4, 3), (5, 6)]


normalized_tuples = [tuple(sorted(t)) for t in tuples_list]



unique_tuples = list(set(normalized_tuples))
unique_count = len(unique_tuples)



print("Unique tuples Frequency:", unique_tuples)
print("Unique tuples Frequency Count:", unique_count)

Unique tuples Frequency: [(1, 2), (3, 4), (5, 6)]
Unique tuples Frequency Count: 3

In [58]:
# 46. Write a Python program to Skew Nested Tuple Summation
# Sample Output
# (1, (2, (3, (4, (5, None)))))
# Summation of 1st positions : 15

nested_tuple = (1, (2, (3, (4, (5, None)))))

# Initialize sum
total = 0

# Iterate through the nested tuple
while isinstance(nested_tuple, tuple):
    total += nested_tuple[0]
    nested_tuple = nested_tuple[1]  # Move to next nested part

print("Summation of 1st positions:", total)

Summation of 1st positions: 15

In [59]:
# 47. Write a Python program to Convert Binary tuple to Integer
# Sample Output
# (1, 0, 1, 0)
# Decimal number is : 10



binary_tuple = (1, 0, 1, 0)

decimal_number = int("".join(map(str, binary_tuple)), 2)

print("Decimal number is:", decimal_number)

Decimal number is: 10

In [60]:
# 48. Write a Python program to Tuple XOR operation
# Sample Output
# Tuple 1 : (10, 4, 6, 9)
# Tuple 2 : (5, 2, 3, 3)
# XOR tuple : (15, 6, 5, 10)


tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)


xor_tuple = tuple(a ^ b for a, b in zip(tuple1, tuple2))

print("XOR tuple:", xor_tuple)

XOR tuple: (15, 6, 5, 10)

In [61]:
# 49. Write a Python program to AND operation between Tuples
# Sample Output
# Tuple 1 : (10, 4, 6, 9)
# Tuple 2 : (5, 2, 3, 3)
# AND operation Between Tuple : (0, 0, 2, 1)



tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)


and_tuple = tuple(a & b for a, b in zip(tuple1, tuple2))

print("AND operation Between Tuple:", and_tuple)

AND operation Between Tuple: (0, 0, 2, 1)

In [62]:
# 50. Write a Python program to Elementwise AND in tuples
# Sample Output
# Tuple 1 : (10, 4, 6, 9)
# Tuple 2 : (5, 2, 3, 3)
# Elementwise AND Tuple : (0, 0, 2, 1)


tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

and_tuple = tuple(a & b for a, b in zip(tuple1, tuple2))

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Elementwise AND Tuple:", and_tuple)

Tuple 1: (10, 4, 6, 9)
Tuple 2: (5, 2, 3, 3)
Elementwise AND Tuple: (0, 0, 2, 1)